<article class="recipe-card">
  <img
    class="recipe-card__image"
    [src]="recipe().image"
    [alt]="recipe().name"
  />

  <div class="recipe-card__content">
    <span
      class="recipe-card__category"
      [appCategoryHighlight]="recipe().category"
      >{{ recipe().category }}</span
    >
    <h3>{{ recipe().name }}</h3>
    <p>{{ recipe().description }}</p>

    <div class="recipe-card__stats">
      <app-recipe-stat
        label="Время"
        [value]="recipe().cookingTimeMinutes | recipeTime"
      />
      <app-recipe-stat label="Сложность" [value]="recipe().difficulty" />
    </div>

    <div class="recipe-card__actions">
      <a class="button button--primary" [routerLink]="['/recipes', recipe().id]"
        >Открыть</a
      >
      <button class="button" type="button" (click)="selectRecipe()">
        В избранное
      </button>
    </div>
  </div>
</article>
